/*=========
PC用スタイル
===========*/
@media screen and (min-width:768px){
  /*ヘッダー*/
  header{
    width: 100%;
    background-color: #ffffff;
    font-family:  "Noto Sans JP", sans-serif;    
    font-size: 34px;
  }
  nav{
    margin: 20px;
    display: flex;
    justify-content: space-around;
  }

  
  


  



















}